<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="./scripts/app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Todo Management</h1>
      <p>Manage your (daily) todos with ease!</p>
    </header>
    <main id="todos-app">
      <section id="todo-management">
        <form @submit="saveTodo">
          <!-- the @submit is the event we are listening for, then activates when it is called, saveTodo  -->
          <label for="text">Todo text</label>
          <input type="text" id="text" v-model="enteredTodoText" required />
          <!-- v-model connects whatever input or form element with a piece of data within data method. 2 ways. We could make it prefilled by filling out the enteredTodoText in the app.js-->
          <button>Save</button>
        </form>
      </section>
      <section id="todos">
        <p v-if="todos.length === 0">No todos added yet - add some?</p>
        <ul v-else id="todos-list">
          <!-- v-else must be a direct neighbor of the v-if element -->
          <li v-for="todo in todos">
            <!-- loops through elements in html code. todos refers to the data property todos array -->
            <p>{{ todo.text }}</p>
            <div>
              <button @click=""startEditTodo(todo.id)>Edit</button>
              <!-- activates with todo.id when it is clicked after being created, so each edit button will already have access to its parent id -->
              <button>Delete</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
